.gallery{
    margin: 40px 0px 20px 15px;
    
}



 .container mat-grid-list{
     display: flex;
     flex-wrap: wrap;
 }

  .mat-grid-tile{
      border-radius: 10px !important;
  }

  .img-attachment{
      bottom: 0px;
      position: absolute;
      width: 100% !important;
      background: none !important;
  }

  mat-card-actions{
      display: none;
  }

  mat-card-actions .fav{
   background-color: red;
   padding: 0px 30px 0px 30px !important;
   color: white;
  }

  

  mat-card-actions .thumbs-down{
    background-color: #352c9a;
    padding: 0px 30px 0px 30px !important;
    color: white;
   }

   ::ng-deep .mat-card, .mat-card-subtitle{
       background: none;
       color: white;
   }

   ::ng-deep .mat-card{
       border-radius: 0px;
   }

mat-grid-tile:hover ::ng-deep .mat-card{
    background: white;
    color: black;
}

mat-grid-tile:hover ::ng-deep .mat-card-subtitle{
    color: black;
}

mat-grid-tile:hover .mat-card-actions{
    display: flex;
}
/* mat-grid-tile img:hover mat-card-actions{
    display: block;
} */