<!--    <button  mat-icon-button *ngIf="sidenav.mode === 'over'" (click)="sidenav.toggle()">
            <mat-icon *ngIf="sidenav.opened">
                menu
            </mat-icon>
            <mat-icon *ngIf="sidenav.opened">
                close
            </mat-icon>
        </button> -->
        <div class="toolbar-1">
            <div class="content" [class.mat-elevation-z4]="isActive">
                <mat-toolbar>
                    <mat-form-field class="example-full-width" appearnce="none">
                        <mat-label>Find Something...</mat-label>
                        <mat-icon matPrefix>search</mat-icon>
                        <input type="text" matInput placeholder="travel">
                        <button mat-button matSuffix>Search</button>
                    </mat-form-field>
                        <!-- <span class="example-spacer"></span> -->
                  </mat-toolbar>
    
            </div>
            <div class="toolbar-side-nav">
                <div class="tool-nav">
                    <p>
                        <i class="fa fa-solid fa-bell fa-2x" style="color:#352c9a" matBadge="3" matBadgeColor="warn" matBadgePosition="below"></i>
                    </p>
                </div>
                <div  class="toolbar-profile">
                    <mat-card [class.mat-elevation-z0]="isActive" class="example-card">
                        <mat-card-header>
                          <div mat-card-avatar class="toolbar-avatar">
                              <img src="https://material.angular.io/assets/img/examples/shiba1.jpg" alt="profile">
                          </div>
                          <mat-card-title >
                            Abigail 
                            <i class="fa fa-thin fa-chevron-down" style="font-size: 1rem !important; color: rgb(129, 126, 126);"></i>
                          </mat-card-title>
                        </mat-card-header>
                    </mat-card>                      
                </div>
            </div>    
        </div>
        
        <!-- <div class="row">
            
        </div> -->
        <div class="toolbar-2 flex-container" [class.mat-elevation-z4]>
                <div class="col-md">
                        <mat-toolbar>
                            <mat-label>
                                World
                            </mat-label>
                            <i class="fa fa-thin fa-chevron-down fa-1x"></i>
                        </mat-toolbar>
                </div>
                <div class="col-md">
                    <mat-toolbar>
                        <mat-label>
                            Following
                        </mat-label>
                        <i class="fa fa-thin fa-chevron-down fa-1x"></i>
                    </mat-toolbar>
                </div>
                <div class="col-md">
                    <mat-toolbar>
                        <mat-label>
                            Popular
                        </mat-label>
                        <i class="fa fa-thin fa-chevron-down fa-1x"></i>
                    </mat-toolbar>
                </div>
                <div class="col-md">
                    <mat-toolbar>
                        <mat-label>
                            Post
                        </mat-label>
                        <i class="fa fa-thin fa-chevron-down fa-1x"></i>
                    </mat-toolbar>
                </div>
                <div class="col-md">
                    <mat-toolbar>
                        <mat-label>
                            Gender
                        </mat-label>
                        <i class="fa fa-thin fa-chevron-down fa-1x"></i>
                    </mat-toolbar>
                </div>
                <div class="col-md">
                    <mat-toolbar>
                        <mat-label>
                           Location
                        </mat-label>
                        <i class="fa fa-thin fa-chevron-down fa-1x"></i>
                    </mat-toolbar>
                </div>
                <div class="col-md">
                    <mat-toolbar>
                        <mat-label>
                          Profession
                        </mat-label>
                        <i class="fa fa-thin fa-chevron-down fa-1x"></i>
                    </mat-toolbar>
                </div>
                <div class="col-md">
                    <mat-toolbar>
                        <mat-label>
                            News
                        </mat-label>
                        <i class="fa fa-thin fa-chevron-down fa-1x"></i>
                    </mat-toolbar>
                </div>
                <div class="col-md">
                    <mat-toolbar>
                        <mat-label>
                            Tips
                        </mat-label>
                        <i class="fa fa-thin fa-chevron-down fa-1x"></i>

                    </mat-toolbar>
                </div>
        </div>

        <flex-gallery></flex-gallery>
