.main-content{
  margin: 50px;
}

 .toolbar-1{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
} 

.toolbar-side-nav{
    width: 25%;
    float: right;
}


.tool-nav{
    position: relative;
    top: 20px;
    width: 25%;
    float: left;
}

.toolbar-profile{
  width: 75%;
  float: right;
}

.toolbar-avatar img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.toolbar-avatar{
  width: 15%;
  float: left;
}

.example-card mat-card-title{
  width: 50%;
  float: right;
  display: flex;
  gap: .8rem;
  margin-top: 10px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 16px;
  color: rgb(129, 126, 126);
}



.example-card mat-card-title i{
  margin-top: 5px;
}


.content{
    color: lightgrey;
    font-size: 1.5rem;
    font-weight: 500;
    border-radius: 10px;
    width: 75%;
    float: left;
    height: 4rem;
  }
  
  .toolbar-search{
    height: inherit;
    border: none;
  }
  .content mat-toolbar{
    width: 90%;
    background-color: white;
    border-radius: 5px;
  }
  
  mat-form-field{
    color: rgb(138, 135, 135);
  }
  
  mat-toolbar mat-form-field a{
    position: relative;
    top: 10px;
    margin-right: 20px;
    margin-left: 20px;
  }

 
  ::ng-deep .mat-form-field-underline {
    display: none;
  }
  
  .example-full-width button{
    background-color: #352c9a;
    color: white;
    width: 100px;
  } 
  .example-full-width {
    width: 100%;
  
} 

.flex-container{
    margin-top: 40px;
    display: flex;
    /* flex-direction: row; */
    flex-wrap: wrap;
    gap: 4px;
}

.flex-container mat-toolbar{
    border-radius: 0;
    height: 60px;
    color: rgb(121, 118, 118);
    display: flex;
    justify-content: center;
    font-size: 1rem;
    background-color: white;
}


.col-md mat-toolbar mat-label{
    margin-right: 10px;
}


@media screen and (max-width: 800px) {
  /* .content{
    margin-right: 1rem;
  } */

  .toolbar-side-nav{
    gap: 1rem;
  }

   .toolbar-profile mat-card-title {
     display: none;
  }

  .main-content{
    margin: 10px 0px 0px 20px;
  }
} 

@media screen and (max-width:600px) {
  .example-full-width button{
    display: none;
  } 
}

